<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>LogIn Page</h2>
<div th:if="${param.error}">Username or password is not correct</div>
<div th:if="${param.logout}">You have been logged out.</div>
<form th:action="@{/login}" method="POST">
    <label>Username:</label>
    <input type="text" name="username" /><br>
    <label >Password:</label >
    <input type="password" name="password" /><br>
    <input type="submit" value="LogIn" /><br>
    <label>Don't have an account? </label>
    <a th:href="@{|/users/create|}">Register now!</a>


</form>

</body>
</html>